@font-face {
  font-family: "font-title";
  src: url("../assets/font/Parisian.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 90rem;
  margin: 0 auto;
  padding: 1.25rem;
}

a {
  text-decoration: none;
  color: #ffffff;
}

li {
  list-style-type: none;
}

@media (max-width: 720px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 620px) {
  html {
    font-size: 12px;
  }
}
@media (max-width: 530px) {
  html {
    font-size: 10px;
  }
}
@media (max-width: 440px) {
  html {
    font-size: 8px;
  }
}
@media (max-width: 350px) {
  html {
    font-size: 6px;
  }
}

.body .wrapper {
  position: relative;
  background-image: url(../assets/img/act_1/train.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.body .wrapper .popup {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-image: url(../assets/img/act_1/popup_1.jfif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 2;
  display: none;
  flex-direction: column;
  align-items: center;
}
.body .wrapper .popup .popup__title {
  margin-bottom: 0.625rem;
  font-family: font-title;
  font-size: 4.5rem;
  color: #fafafa;
  text-align: center;
  text-shadow: -1px -1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0), 1px 1px 0 rgb(0, 0, 0);
}
.body .wrapper .popup .popup__text {
  margin-top: 50vh;
  padding: 0px 0.625rem;
  font-size: 2.8125rem;
  color: #050505;
  text-align: center;
  text-shadow: -1px -1px 0 rgb(255, 255, 255), 1px -1px 0 rgb(255, 255, 255), -1px 1px 0 rgb(255, 255, 255), 1px 1px 0 rgb(255, 255, 255);
}
.body .wrapper .popup-active {
  display: flex;
}
.body .wrapper .journal {
  display: none;
  position: absolute;
  margin-top: 1.5625rem;
  left: 1.25rem;
  padding: 0.625rem;
  height: 35%;
  width: 30%;
  font-size: 1.125rem;
  overflow-y: auto;
  background-color: rgba(43, 43, 43, 0.5960784314);
  color: #ffffff;
}
.body .wrapper .journal::-webkit-scrollbar {
  width: 5px;
  cursor: pointer;
}
.body .wrapper .journal::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}
.body .wrapper .journal::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 6px;
}
.body .wrapper .journal::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.body .wrapper .journal-active {
  display: block;
}
.body .wrapper .header .container .header__title {
  font-family: font-title;
  font-size: 4.5rem;
  color: #000000;
  text-align: center;
  text-shadow: -1px -1px 0 rgb(138, 138, 138), 1px -1px 0 rgb(138, 138, 138), -1px 1px 0 rgb(138, 138, 138), 1px 1px 0 rgb(138, 138, 138);
}
.body .wrapper .main {
  position: relative;
  margin-top: auto;
}
.body .wrapper .main .container__main {
  display: flex;
  justify-content: center;
}
.body .wrapper .main .container__main .input-box {
  position: absolute;
  display: none;
  align-items: center;
  gap: 1.25rem;
  margin: 0.9375rem 0px;
}
.body .wrapper .main .container__main .input-box .input-door {
  font-size: 2rem;
  padding-left: 0.625rem;
}
.body .wrapper .main .container__main .input-box .input-door__btn {
  font-size: 1.5rem;
  padding: 0.375rem 0.9375rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.body .wrapper .main .container__main .input-box .input-door__btn:hover {
  background-color: rgba(43, 43, 43, 0.5960784314);
  color: #ffffff;
}
.body .wrapper .main .container__main .input-box-active {
  display: flex;
}
.body .wrapper .main .container__main .slider .slider__box-text {
  min-height: 15.625rem;
  width: 90vw;
  display: flex;
  align-items: center;
  padding: 1.25rem;
  background-color: rgba(44, 44, 44, 0.568627451);
  border-radius: 15px;
}
.body .wrapper .main .container__main .slider .slider__box-text .slider__text {
  font-size: 1.6875rem;
  color: #ffffff;
}
.body .wrapper .main .container__main .slider .slider__box-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}
.body .wrapper .main .container__main .slider .slider__box-btns button {
  margin-top: 1.875rem;
  font-size: 1.5rem;
  padding: 0.625rem 1.25rem;
  border-radius: 1.5625rem;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.body .wrapper .main .container__main .slider .slider__box-btns button:hover {
  background-color: rgba(43, 43, 43, 0.5960784314);
  color: #ffffff;
}
.body .wrapper .main .container__main .slider .slider__box-btns .slider-Act-inactive {
  display: none;
}
.body .wrapper .main .container__main .slider-inactive {
  display: none;
}
.body .wrapper .main .container__main .card-box {
  display: none;
  gap: 15px;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 10vh;
}
.body .wrapper .main .container__main .card-box .card-box__card {
  width: 10.25rem;
  height: 10.25rem;
  background-color: rgba(255, 255, 255, 0.2117647059);
  cursor: pointer;
}
.body .wrapper .main .container__main .card-box .card-box__card-active {
  background-image: url(../assets/img/act_2/hit.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.body .wrapper .main .container__main .card-box .card-box__card-active:hover {
  transform: scale(1.2);
}
.body .wrapper .main .container__main .card-box-active {
  display: grid;
  transition: transform 0.5s ease;
}
.body .wrapper .main .container__main .playing-Field {
  margin-bottom: 10vh;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5625rem;
  min-height: 100%;
  overflow: hidden;
}
.body .wrapper .main .container__main .playing-Field .playing-Field__enemy {
  display: flex;
  justify-content: center;
  gap: 1.25rem;
}
.body .wrapper .main .container__main .playing-Field .playing-Field__enemy span {
  color: #ffffff;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  font-size: 1.5rem;
}
.body .wrapper .main .container__main .playing-Field .playing-Field__enemy .playing-Field__box-heart-enemy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.3125rem;
}
.body .wrapper .main .container__main .playing-Field .playing-Field__enemy .playing-Field__box-heart-enemy .playing-Field-heart-enemy {
  width: 2rem;
}
.body .wrapper .main .container__main .playing-Field .playing-Field__general {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.875rem;
}
.body .wrapper .main .container__main .playing-Field .playing-Field__general .playing-Field__card-user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.9375rem;
  max-width: 13.5rem;
  background-color: rgba(94, 155, 201, 0.6980392157);
  border-radius: 0.625rem;
  padding: 0rem 0.3125rem;
  filter: brightness(0.95);
  transition: all 0.5s ease-in-out;
}
.body .wrapper .main .container__main .playing-Field .playing-Field__general .playing-Field__card-user .card__img-user {
  max-width: 6.25rem;
  min-height: 7.25rem;
  max-height: 6.25rem;
  margin-top: 1.25rem;
  -o-object-fit: contain;
     object-fit: contain;
}
.body .wrapper .main .container__main .playing-Field .playing-Field__general .playing-Field__card-user .card__answer-user {
  font-size: 0.875rem;
  pointer-events: none;
  border: none;
  background-color: transparent;
}
.body .wrapper .main .container__main .playing-Field .playing-Field__general .playing-Field__card-user .card__skils-user {
  margin-bottom: 1.25rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  align-items: center;
  gap: 0.3125rem;
  filter: brightness(0.9);
}
.body .wrapper .main .container__main .playing-Field .playing-Field__general .playing-Field__card-user .card__skils-user .txt-description-user:nth-of-type(1) {
  width: 1.25rem;
  height: 1.25rem;
  background-image: url(../assets/svg/sky/hearts.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.body .wrapper .main .container__main .playing-Field .playing-Field__general .playing-Field__card-user .card__skils-user .txt-description-user:nth-of-type(2) {
  width: 1.25rem;
  height: 1.25rem;
  background-image: url(../assets/svg/sky/lightsaber.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.body .wrapper .main .container__main .playing-Field .playing-Field__general .playing-Field__card-user .card__skils-user .txt-description-user:nth-of-type(3) {
  width: 1.25rem;
  height: 1.25rem;
  background-image: url(../assets/svg/sky/plus.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.body .wrapper .main .container__main .playing-Field .playing-Field__general .playing-Field__card-user .card__skils-user .card__skill-user {
  text-align: center;
}
.body .wrapper .main .container__main .playing-Field .playing-Field__general .playing-Field__btn-game {
  max-height: 3.125rem;
  padding: 0rem 3.125rem;
  font-size: 1.625rem;
  cursor: pointer;
}
.body .wrapper .main .container__main .playing-Field .playing-Field__general .playing-Field__btn-game-inactive {
  pointer-events: none;
}
.body .wrapper .main .container__main .playing-Field .playing-Field__general .playing-Field__card-enemy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.9375rem;
  max-width: 13.5rem;
  background-color: rgba(94, 155, 201, 0.6980392157);
  border-radius: 0.625rem;
  padding: 0rem 0.3125rem;
  filter: brightness(0.95);
  transition: all 0.5s ease-in-out;
}
.body .wrapper .main .container__main .playing-Field .playing-Field__general .playing-Field__card-enemy .card__img-enemy {
  max-width: 6.25rem;
  min-height: 7.25rem;
  max-height: 6.25rem;
  margin-top: 1.25rem;
  -o-object-fit: contain;
     object-fit: contain;
}
.body .wrapper .main .container__main .playing-Field .playing-Field__general .playing-Field__card-enemy .card__answer-enemy {
  font-size: 0.875rem;
  pointer-events: none;
  border: none;
  background-color: transparent;
}
.body .wrapper .main .container__main .playing-Field .playing-Field__general .playing-Field__card-enemy .card__skils-enemy {
  margin-bottom: 1.25rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  align-items: center;
  gap: 0.3125rem;
  filter: brightness(0.9);
}
.body .wrapper .main .container__main .playing-Field .playing-Field__general .playing-Field__card-enemy .card__skils-enemy .txt-description-enemy:nth-of-type(1) {
  width: 1.25rem;
  height: 1.25rem;
  background-image: url(../assets/svg/sky/hearts.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.body .wrapper .main .container__main .playing-Field .playing-Field__general .playing-Field__card-enemy .card__skils-enemy .txt-description-enemy:nth-of-type(2) {
  width: 1.25rem;
  height: 1.25rem;
  background-image: url(../assets/svg/sky/lightsaber.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.body .wrapper .main .container__main .playing-Field .playing-Field__general .playing-Field__card-enemy .card__skils-enemy .txt-description-enemy:nth-of-type(3) {
  width: 1.25rem;
  height: 1.25rem;
  background-image: url(../assets/svg/sky/plus.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.body .wrapper .main .container__main .playing-Field .playing-Field__general .playing-Field__card-enemy .card__skils-enemy .card__skill-enemy {
  text-align: center;
}
.body .wrapper .main .container__main .playing-Field .playing-Field__user {
  display: flex;
  overflow-x: scroll;
  gap: 0.3125rem;
  align-items: last baseline;
  max-width: 100%;
}
.body .wrapper .main .container__main .playing-Field .playing-Field__user .playing-Field__card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.9375rem;
  width: 100%;
  background-color: rgba(94, 155, 201, 0.6980392157);
  border-radius: 0.625rem;
  padding: 0rem 0.3125rem;
  filter: brightness(0.95);
  transition: all 0.5s ease-in-out;
}
.body .wrapper .main .container__main .playing-Field .playing-Field__user .playing-Field__card .card__img {
  max-width: 6.25rem;
  min-height: 7.25rem;
  max-height: 6.25rem;
  margin-top: 1.25rem;
  -o-object-fit: contain;
     object-fit: contain;
}
.body .wrapper .main .container__main .playing-Field .playing-Field__user .playing-Field__card .card__question {
  font-size: 1.125rem;
  text-align: center;
  font-weight: 700;
  height: 0;
  overflow: hidden;
  overflow: 0;
  transition: height 0.5s ease-in-out;
}
.body .wrapper .main .container__main .playing-Field .playing-Field__user .playing-Field__card .card__question-active {
  height: auto;
}
.body .wrapper .main .container__main .playing-Field .playing-Field__user .playing-Field__card .card__answer {
  max-width: 18.75rem;
  font-size: 18px;
}
.body .wrapper .main .container__main .playing-Field .playing-Field__user .playing-Field__card .card__skils {
  margin-bottom: 1.25rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  align-items: center;
  gap: 0.7rem;
  filter: brightness(0.9);
}
.body .wrapper .main .container__main .playing-Field .playing-Field__user .playing-Field__card .card__skils .txt-description:nth-of-type(1) {
  width: 1.25rem;
  height: 1.25rem;
  background-image: url(../assets/svg/sky/hearts.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.body .wrapper .main .container__main .playing-Field .playing-Field__user .playing-Field__card .card__skils .txt-description:nth-of-type(2) {
  width: 1.25rem;
  height: 1.25rem;
  background-image: url(../assets/svg/sky/lightsaber.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.body .wrapper .main .container__main .playing-Field .playing-Field__user .playing-Field__card .card__skils .txt-description:nth-of-type(3) {
  width: 1.25rem;
  height: 1.25rem;
  background-image: url(../assets/svg/sky/plus.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.body .wrapper .main .container__main .playing-Field .playing-Field__user .playing-Field__card .card__skils .card__heart {
  text-align: center;
}
.body .wrapper .main .container__main .playing-Field .playing-Field__user .playing-Field__card .card__skils .card__attack {
  text-align: center;
}
.body .wrapper .main .container__main .playing-Field .playing-Field__user .playing-Field__card .card__skils .card__healing {
  text-align: center;
}
.body .wrapper .main .container__main .playing-Field .playing-Field__user .playing-Field__card .card__btn {
  padding: 0.3125rem 0.625rem;
  margin-bottom: 1.25rem;
  cursor: pointer;
}
.body .wrapper .main .container__main .playing-Field .playing-Field__user .playing-Field__card:hover {
  cursor: pointer;
  filter: brightness(1);
}
.body .wrapper .main .container__main .playing-Field .playing-Field__user .playing-Field__card-inactive {
  pointer-events: none;
  filter: brightness(0.4);
}
.body .wrapper .main .container__main .playing-Field .playing-Field__user .playing-Field__card-permoment-inactive {
  pointer-events: none;
  filter: brightness(0.5);
}
.body .wrapper .main .container__main .playing-Field .playing-Field__user::-webkit-scrollbar {
  height: 1rem;
}
.body .wrapper .main .container__main .playing-Field .playing-Field__user::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.616);
  border-radius: 0.625rem;
}
.body .wrapper .main .container__main .playing-Field .playing-Field__user::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.26);
}
.body .wrapper .main .container__main .playing-Field-active {
  display: flex;
}
.body .wrapper .footer .container .box-indicators {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.body .wrapper .footer .container .box-indicators span {
  font-size: 1.5rem;
  color: #ffffff;
}