@font-face {
    font-family: "font-title";
    src: url("../assets/font/Parisian.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 90rem;
    margin: 0 auto;
    padding: 1.25rem;
}

a {
    text-decoration: none;
    color: #ffffff;
}
li {
    list-style-type: none;
}
html {
    @media (max-width: 720px) {
        font-size: 14px;
    }
    @media (max-width: 620px) {
        font-size: 12px;
    }
    @media (max-width: 530px) {
        font-size: 10px;
    }
    @media (max-width: 440px) {
        font-size: 8px;
    }
    @media (max-width: 350px) {
        font-size: 6px;
    }
}

.body {
    .wrapper {
        position: relative;
        background-image: url(../assets/img/act_1/train.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        min-width: 100vw;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        .popup {
            position: absolute;
            width: 100vw;
            height: 100vh;
            background-image: url(../assets/img/act_1/popup_1.jfif);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            z-index: 2;
            display: none;
            flex-direction: column;
            align-items: center;
            .popup__title {
                margin-bottom: 10px;
                font-family: font-title;
                font-size: 72px;
                color: #fafafa;
                text-align: center;
                text-shadow:
                    -1px -1px 0 rgb(0, 0, 0),
                    1px -1px 0 rgb(0, 0, 0),
                    -1px 1px 0 rgb(0, 0, 0),
                    1px 1px 0 rgb(0, 0, 0);
            }
            .popup__text {
                margin-top: 50vh;
                font-size: 45px;
                color: #050505;
                text-align: center;
                text-shadow:
                    -1px -1px 0 rgb(255, 255, 255),
                    1px -1px 0 rgb(255, 255, 255),
                    -1px 1px 0 rgb(255, 255, 255),
                    1px 1px 0 rgb(255, 255, 255);
            }
        }
        .popup-active {
            display: flex;
        }
        .journal {
            display: none;
            position: absolute;
            margin-top: 1.5625rem;
            left: 1.25rem;
            padding: 0.625rem;
            height: 35%;
            width: 30%;
            font-size: 1.125rem;
            overflow-y: auto;
            background-color: #2b2b2b98;
            color: #ffffff;
            &::-webkit-scrollbar {
                width: 5px;
                cursor: pointer;
            }
            &::-webkit-scrollbar-thumb {
                background: #888;
                border-radius: 6px;
            }
            &::-webkit-scrollbar-track {
                background: #f1f1f1;
                border-radius: 6px;
            }
            &::-webkit-scrollbar-thumb:hover {
                background: #555;
            }
        }
        .journal-active {
            display: block;
        }

        .header {
            .container {
                .header__title {
                    font-family: font-title;
                    font-size: 45px;
                    color: #000000;
                    text-align: center;
                    text-shadow:
                        -1px -1px 0 rgb(138, 138, 138),
                        1px -1px 0 rgb(138, 138, 138),
                        -1px 1px 0 rgb(138, 138, 138),
                        1px 1px 0 rgb(138, 138, 138);
                }
            }
        }
        .main {
            position: relative;
            margin-top: auto;
            .container__main {
                display: flex;
                justify-content: center;
                .input-box {
                    position: absolute;
                    display: none;
                    align-items: center;
                    gap: 1.25rem;
                    margin: 0.9375rem 0px;
                    .input-door {
                        font-size: 2rem;
                        padding-left: 0.625rem;
                    }
                    .input-door__btn {
                        font-size: 1.5rem;
                        padding: 0.375rem 0.9375rem;
                        cursor: pointer;
                        transition: all 0.3s ease-in-out;
                        &:hover {
                            background-color: #2b2b2b98;
                            color: #ffffff;
                        }
                    }
                }
                .input-box-active {
                    display: flex;
                }

                .slider {
                    .slider__box-text {
                        min-height: 15.625rem;
                        width: 90vw;
                        display: flex;
                        align-items: center;
                        padding: 1.25rem;
                        background-color: #2c2c2c91;
                        border-radius: 15px;

                        .slider__text {
                            font-size: 1.6875rem;
                            color: #ffffff;
                        }
                    }
                    .slider__box-btns {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 2.5rem;

                        button {
                            margin-top: 1.875rem;
                            font-size: 1.5625rem;
                            padding: 0.625rem 1.25rem;
                            border-radius: 1.5625rem;
                            cursor: pointer;
                            transition: all 0.3s ease-in-out;
                            &:hover {
                                background-color: #2b2b2b98;
                                color: #ffffff;
                            }
                        }
                        .slider-Act-inactive {
                            display: none;
                        }
                    }
                }
                .slider-inactive {
                    display: none;
                }
                .card-box {
                    display: none;
                    gap: 15px;
                    grid-template-columns: repeat(4, 1fr);
                    margin-bottom: 10vh;
                    .card-box__card {
                        width: 10.25rem;
                        height: 10.25rem;
                        background-color: #ffffff36;
                        cursor: pointer;
                    }
                    .card-box__card-active {
                        background-image: url(../assets/img/act_2/hit.png);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        &:hover {
                            transform: scale(1.2);
                        }
                    }
                }
                .card-box-active {
                    display: grid;
                    transition: transform 0.5s ease;
                }
                .playing-Field {
                    margin-bottom: 10vh;
                    display: none;
                    flex-direction: column;
                    justify-content: space-between;
                    gap: 1.5625rem;
                    min-height: 100%;
                    overflow: hidden;
                    .playing-Field__enemy {
                        display: flex;
                        justify-content: center;
                        gap: 1.25rem;
                        span {
                            color: #ffffff;
                            text-shadow:
                                -1px -1px 0 black,
                                1px -1px 0 black,
                                -1px 1px 0 black,
                                1px 1px 0 black;
                            font-size: 1.5rem;
                        }
                        .playing-Field__box-heart-enemy {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            gap: 0.3125rem;
                            .playing-Field-heart-enemy {
                                width: 2rem;
                            }
                        }
                    }
                    .playing-Field__general {
                        position: relative;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 1.875rem;
                        .playing-Field__card-user {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            gap: 1rem;
                            margin-bottom: 0.9375rem;
                            max-width: 13.5rem;
                            background-color: #5e9bc9b2;
                            border-radius: 0.625rem;
                            padding: 0rem 0.3125rem;
                            filter: brightness(0.95);
                            transition: all 0.5s ease-in-out;
                            .card__img-user {
                                max-width: 6.25rem;
                                min-height: 7.25rem;
                                max-height: 6.25rem;
                                margin-top: 1.25rem;
                                object-fit: contain;
                            }
                            .card__answer-user {
                                font-size: 0.875rem;
                                pointer-events: none;
                                border: none;
                                background-color: transparent;
                            }
                            .card__skils-user {
                                margin-bottom: 1.25rem;
                                display: grid;
                                grid-template-columns: repeat(3, 1fr);
                                justify-content: space-between;
                                align-items: center;
                                gap: 0.3125rem;
                                filter: brightness(0.9);
                            }
                        }
                        .playing-Field__btn-game {
                            max-height: 3.125rem;
                            padding: 0rem 3.125rem;
                            font-size: 1.625rem;
                            cursor: pointer;
                        }
                        .playing-Field__btn-game-inactive {
                            pointer-events: none;
                        }
                        .playing-Field__card-enemy {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            gap: 1rem;
                            margin-bottom: 0.9375rem;
                            max-width: 13.5rem;
                            background-color: #5e9bc9b2;
                            border-radius: 0.625rem;
                            padding: 0rem 0.3125rem;
                            filter: brightness(0.95);
                            transition: all 0.5s ease-in-out;
                            .card__img-enemy {
                                // max-width: 6.25rem;
                                // margin-top: 1.25rem;
                                // object-fit: cover;
                                max-width: 6.25rem;
                                min-height: 7.25rem;
                                max-height: 6.25rem;
                                margin-top: 1.25rem;
                                object-fit: contain;
                            }
                            .card__answer-enemy {
                                font-size: 0.875rem;
                                pointer-events: none;
                                border: none;
                                background-color: transparent;
                            }

                            .card__skils-enemy {
                                margin-bottom: 1.25rem;
                                display: grid;
                                grid-template-columns: repeat(3, 1fr);
                                justify-content: space-between;
                                align-items: center;
                                gap: 0.3125rem;
                                filter: brightness(0.9);
                            }
                        }
                    }
                    .playing-Field__user {
                        display: flex;
                        overflow-x: scroll;
                        gap: 0.3125rem;
                        align-items: last baseline;
                        max-width: 100%;
                        .playing-Field__card {
                            display: flex;
                            flex-direction: column;
                            justify-content: start;
                            align-items: center;
                            gap: 1rem;
                            margin-bottom: 0.9375rem;
                            width: 100%;
                            // height: 100%;
                            // max-width: 13.5rem;
                            background-color: #5e9bc9b2;
                            border-radius: 0.625rem;
                            padding: 0rem 0.3125rem;
                            filter: brightness(0.95);
                            transition: all 0.5s ease-in-out;
                            .card__img {
                                max-width: 6.25rem;
                                min-height: 7.25rem;
                                max-height: 6.25rem;
                                margin-top: 1.25rem;
                                object-fit: contain;
                            }
                            .card__question {
                                font-size: 1.125rem;
                                text-align: center;
                                font-weight: 700;
                                height: 0;
                                overflow: hidden;
                                overflow: 0;
                                transition: height 0.5s ease-in-out;
                            }
                            .card__question-active {
                                height: auto;
                            }
                            .card__answer {
                                max-width: 18.75rem;
                                font-size: 18px;
                            }
                            .card__skils {
                                margin-bottom: 1.25rem;
                                display: grid;
                                grid-template-columns: repeat(3, 1fr);
                                justify-content: space-between;
                                align-items: center;
                                gap: 0.7rem;
                                filter: brightness(0.9);
                                .card__heart {
                                    text-align: center;
                                }
                                .card__attack {
                                    text-align: center;
                                }
                                .card__healing {
                                    text-align: center;
                                }
                            }
                            .card__btn {
                                padding: 0.3125rem 0.625rem;
                                margin-bottom: 1.25rem;
                                cursor: pointer;
                            }
                            &:hover {
                                cursor: pointer;
                                filter: brightness(1);
                            }
                        }
                        .playing-Field__card-active {
                        }
                        .playing-Field__card-inactive {
                            pointer-events: none;
                            filter: brightness(0.4);
                        }
                        .playing-Field__card-permoment-inactive {
                            pointer-events: none;
                            filter: brightness(0.5);
                        }
                        &::-webkit-scrollbar {
                            height: 1rem;
                        }
                        &::-webkit-scrollbar-thumb {
                            background: rgba(0, 0, 0, 0.616);
                            border-radius: 0.625rem;
                        }
                        &::-webkit-scrollbar-track {
                            background: rgba(0, 0, 0, 0.26);
                        }
                    }
                }
                .playing-Field-active {
                    display: flex;
                }
            }
        }
        .footer {
            .container {
                .box-indicators {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    span {
                        font-size: 1.5rem;
                        color: #ffffff;
                    }
                }
            }
        }
    }
}
